# Don't lint minified files.
*.min.js

# Manual linting required before automatic linting can be done; breaking changes.
engine/

# Don't minify libs.
src/lib/
src/pixi/pixi-legacy.js

# Client compiled script.
client.js

