<!-- chat input field -->
<div id="chat-input-field-div" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <div class="form-group" id="chat-message-input" style="display: none">
        <div class="input-group d-flex justify-content-center">
            <form class="mb-0" onsubmit="ige.chat.sendChatMessage(); return false">
                <input type="text" class="form-control btn-sm" id="message" placeholder="Press Enter to send the message" />
            </form>
            <div class="input-group-append" onclick="ige.chat.sendChatMessage()">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-comment"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- chat box -->
<div id="chat-box" class="game-ui" style="bottom: 0; display: none">
    <div id="chat-tab-container" class="hide-on-mobile d-flex flex-column">
        <ul id="tabs" class="nav nav-pills no-selection">
            <li class="nav-item">
                <a id="hide-chat" class="cursor-pointer hide-on-mobile pr-0 nav-link" style="position: absolute; right: 0;"> Hide </a>
            </li>
        </ul>
        <div class="tab-content flex-grow-1 d-flex" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 0px 5px 5px 5px">
            <div class="tab-pane fade show active w-100" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
                <div class="h-100 w-100 p-3">
                    <div id="chat-history" class="hide-on-mobile h-100" style="max-height: 200px; overflow: auto; min-width: 350px; min-height: 200px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- show/hide chat button -->
<div id="show-chat" class="btn btn-success d-none position-absolute" style="bottom: 10">
    <i class="fa fa-comment mr-1"></i>
    Show Chat
</div>
