<button id="toggle-dev-panels" onclick="$('#dev-console').toggle();" style="display: none; position: absolute; left: 10px; z-index: 9999; top: 10px" class="btn btn-danger hide-on-mobile float-left">Dev Console</button>

<div id="dev-console" style="display: none">
    <div id="dev-console-table" class="game-ui dark-bg" style="position: absolute; text-align: right; padding: 5px; margin-top: 60px">
        <div class="col-sm-12">
            <h6 style="color: white; z-index: 9999">Developer Console</h6>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-danger btn-sm" id="dev-error-button" style="z-index: 9999">Errors (0)</button>
            <button class="btn btn-primary btn-sm" id="bandwidth-usage" style="z-index: 9999">Status</button>
        </div>
    </div>

    <div class="col-sm-12">
        <table id="variables-table" style="text-align: right; padding: 5px"></table>
    </div>
</div>

<div class="modal fade" id="dev-status-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 90%; max-width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="dev-status-content"></div>
        </div>
    </div>
</div>
