<!-- inventory slots and attribute bars -->
<div class="game-ui user-select-none" id="unit-status">
    <div class="" id="inventory-slots-key-stroke" role="group" aria-label="Justified button"></div>
    <div id="inventory-slots" role="group" aria-label="Justified button group" style="margin-bottom: 5px"></div>
    <div id="attribute-bars" style="margin-left: 2px; margin-right: 2px"></div>
</div>

<!-- backpack -->
<div class="position-absolute backpack-ui" id="backpack-wrapper">
    <div id="backpack" class="dark-bg" style="display: none">
        <div id="backpack-items-div" class="row d-flex justify-content-center"></div>
    </div>
    <a href="#" id="open-inventory-button" class="btn btn-success float-right"> <i class="glyphicon glyphicon glyphicon-user"></i> Backpack </a>
</div>