<!-- play button -->
<div id="play-game-button-wrapper" class="h-100 w-100 d-flex justify-content-center position-absolute align-items-center d-none-important">
    <button id="play-game-button" type="button" class="btn btn-success" data-style="rotate-side-down" data-perspective data-horizontal>
        <div class="bg-success rounded">
            <i class="fa fa-gamepad pr-2 py-3" aria-hidden="true"></i>
            Play Game
        </div>
    </button>
</div>