<!-- item shop -->
<div class="modal" id="modd-item-shop-modal" tabindex="-1" style="z-index: 2050">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <span id="modd-item-shop-header">Item Shops</span>
                <button id="modd-item-shop-dismiss-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container mt-0 mt-md-3" id="item-shop-modal">
                    <ul class="nav nav-tabs row item-shop-navbar hide-on-mobile">
                        <li class="nav-item">
                            <span class="nav-link active" id="unit" name="units" style="display: none">Unit</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link" id="item" name="items" style="display: none">Item</span>
                        </li>
                    </ul>
                    <div class="row mt-0 mt-md-3">
                        <div class="items-shop col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>